/* github.com/touhidulshawan/userChrome */

/* hides the native tabs */
#tabbrowser-tabs {
	visibility: collapse;
}

/* Menu button */
#PanelUI-button {
	-moz-box-ordinal-group: 0 !important;
	order: -2 !important;
	margin: 2px !important;
	display: none !important;
}

/* Window control buttons (min, resize and close) */
.titlebar-buttonbox-container {
	display: none !important;
	margin-right: 12px !important;
}

/* Page back and foward buttons */
#back-button,
#forward-button {
	transform: scale(1, 1) !important;
	transition: margin-left 150ms var(--animation-easing-function),
		opacity 250ms var(--animation-easing-function),
		transform 350ms var(--animation-easing-function) !important;
}

#back-button[disabled="true"],
#forward-button[disabled="true"] {
	margin-left: -34px !important;
	opacity: 0 !important;
	transform: scale(0.8, 0.8) !important;
	pointer-events: none !important;
}

/* Hide the hamburger menu */
#PanelUI-menu-button {
	padding: 0px !important;
}

#PanelUI-menu-button .toolbarbutton-icon {
	width: 1px !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack {
	padding: 0px !important;
}

/* Extensions button */
/* #unified-extensions-button {
  display: none !important
} */

/* Extension name inside URL bar */
#identity-box.extensionPage #identity-icon-label {
	visibility: collapse !important;
}

/* All tabs (v-like) button */
#alltabs-button {
	display: none !important
}

/* URL bar icons */
#identity-permission-box,
#star-button-box,
#identity-icon-box,
#picture-in-picture-button,
#tabs-newtab-button,
#tracking-protection-icon-container,
#reader-mode-button,
#translations-button {
	display: none !important
}

/* "This time search with:..." */
#urlbar .search-one-offs {
	display: none !important
}

/* Space before and after tabs */
.titlebar-spacer {
	display: none;
}

/*  Removes urlbar border/background  */
#urlbar-background {
	border: none !important;
	outline: none !important;
	transition: .15s !important;
    background: #282828 !important;
}

/*  Removes the background from the urlbar while not in use  */
#urlbar:not(:hover):not([breakout][breakout-extend])>#urlbar-background {
	box-shadow: none !important;
}

/*  Removes annoying border  */
#navigator-toolbox {
	border: none !important
}

/* Fades window while not in focus */
#navigator-toolbox-background:-moz-window-inactive {
	filter: contrast(90%)
}

/* Remove fullscreen warning border */
#fullscreen-warning {
	border: none !important;
	background: -moz-Dialog !important;
}
